hypr/.config/hypr/hyprtoolkit.conf
hypr/.config/hypr/noctalia/noctalia-colors.conf
kitty/.config/kitty/current-theme.conf
kitty/.config/kitty/themes/noctalia.conf
niri/.config/niri/noctalia.kdl
yazi/.config/yazi/flavors/noctalia.yazi/flavor.toml
