layout {

    focus-ring {
        active-color   "#98971a"
        inactive-color "#fbf1c7"
        urgent-color   "#cc241d"
    }

    border {
        active-color   "#98971a"
        inactive-color "#fbf1c7"
        urgent-color   "#cc241d"
    }

    shadow {
        color "#d5c4a170"
    }

    tab-indicator {
        active-color   "#98971a"
        inactive-color "#d9d98b"
        urgent-color   "#cc241d"
    }

    insert-hint {
        color "#98971a80"
    }
}

recent-windows {
    highlight {
        active-color "#98971a"
        urgent-color "#cc241d"
    }
}
