layout {

    focus-ring {
        active-color   "#4f80fc"
        inactive-color "#03123a"
        urgent-color   "#fd4663"
    }

    border {
        active-color   "#4f80fc"
        inactive-color "#03123a"
        urgent-color   "#fd4663"
    }

    shadow {
        color "#03123a70"
    }

    tab-indicator {
        active-color   "#4f80fc"
        inactive-color "#002b99"
        urgent-color   "#fd4663"
    }

    insert-hint {
        color "#4f80fc80"
    }
}

recent-windows {
    highlight {
        active-color "#4f80fc"
        urgent-color "#fd4663"
    }
}
