layout {

    focus-ring {
        active-color   "#799ff2"
        inactive-color "#061538"
        urgent-color   "#cc7092"
    }

    border {
        active-color   "#799ff2"
        inactive-color "#061538"
        urgent-color   "#cc7092"
    }

    shadow {
        color "#06153870"
    }

    tab-indicator {
        active-color   "#799ff2"
        inactive-color "#023bb6"
        urgent-color   "#cc7092"
    }

    insert-hint {
        color "#799ff280"
    }
}

recent-windows {
    highlight {
        active-color "#799ff2"
        urgent-color "#cc7092"
    }
}
